extends layout

block content
    h1= title
    input(id="palabraBuscar", type="text", placeholder="buscar")

    script.
        var something = function() {
        console.log($('#palabraBuscar').val());
        }

    button(onclick='something()') Buscar