extends layout

block content
    h1= title
    input(id="palabraBuscar", type="text", placeholder="buscar")

    script.
        
        var something = function() {

        $.getJSON( 'http://18.217.180.23:3000/https://api.qwant.com/api/search/images?count=10&offset=1&q='+$('#palabraBuscar').val(), function( data ) {

        // Stick our user data array into a userlist variable in the global object
        console.log(data);

        // For each item in our JSON, add a table row and cells to the content string
        $.each(data.result.items, function(){    
        tableContent += '<img src="'+this.thumbnail+'">';
        });

        // Inject the whole content string into our existing HTML table
        $('#contImg').html(tableContent);
       
        });
        }

    button(onclick='something()') Buscar
    #contImg