extends layout

block content
    h1= title
    p Consola administrativa

    script.
        var something = function() {
        console.log('something')
        }

    button(onclick='something()') Click