extends layout

block content
    h1= title
    p Consola administrativa

    // Wrapper
    #wrapper

        // USER LIST
        h2 Usuarios registrados
        #userList
            table#tablaUsuarios
                thead
                    th ID
                    th Nombre
                    th Email
                    th Borrar
                tbody
        // /USER LIST

        // PUBLICACIONES LIST

        h2 Publicaciones
        #publisList
            table#tablaPublis
                thead
                    th Titulo
                    th Estado
                    th ID Usuarios
                    th Fecha Publicacion
                    th Borrar
                tbody
        // /PUBLICACIONES LIST

    // /WRAPPER